.logo {
    display: flex;
    padding: 0 2rem;
    justify-content: center;
  }
  
  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  
  .grade-item {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  input[type="radio"] {
    appearance: none;
    border: .05em solid var(--color-dark);
    width: 1.5rem;
    height: 1.5rem;
    margin: 0 1rem;
    border-radius: 50%;
    cursor: pointer;
  
    &:checked {
      width: 1.1rem;
      height: 1.1rem;
      border: none;
      background-color: var(--color-main);
      box-shadow: 0 0 0 .1rem white, 0 0 0 .2rem var(--color-dark);
    }
  }